scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/demoProject
        create path (nt:unstructured) /content/dam/demoProject/jcr:content
        set properties on /content/dam/demoProject/jcr:content
        set cq:conf{String} to /conf/demoProject
        set jcr:title{String} to \"Demo Project\"
        end
        "
]
